{% extends 'myapp/doctor_base.html' %}
{% load static %}
{%block title%}Reply{%endblock%}
{% block body %}
<center>
    <h1>Reply</h1>
    <div class="container">
    <form name="frm" role="form" action="{% url 'doctor_farmer_consultation_reply'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="prescription">Prescription:</label>
            <input class="form-control" type="text" name="prescription" id="prescription" required>
        </div>

<input type="hidden" name="c_id" value="{{c_id}}">
        <button type="submit"
        class="btn btn-info" id="bt" name="bt">Reply</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt">Reset</button>
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
